<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ReverseProxyToNode" stopProcessing="true">
          <match url="^save-response$" />
          <action type="Rewrite" url="http://localhost:3000/save-response" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
